/* Hero Animation */
@keyframes imageEntry {
    from {
      opacity: 0;
      filter: grayscale(100%);
      transform:
        rotateZ(-20deg)
        scale(1.4);
    }

    to {
      opacity: 1;
      filter: grayscale(0%);
      transform:
        rotateZ(0deg)
        scale(1);
    }
  }
  
  @keyframes textReveal {
    from {
      opacity: 0;
      transform: translateY(100px); 
    }

    to {
      opacity: 1;
      transform: translateY(0px);
    }
  }